<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mynote.blog.mapper.StatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mynote.base.common.blog.entity.Status">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
